
<!-- config de os botones -->

  <mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Internet de las Cosas</span>
    <span class="espacios"></span>
    
    <!--  
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
    </mat-menu>
    -->

  </mat-toolbar-row>
</mat-toolbar>


<!-- card1 -->
        <mat-card>
            <mat-chip-list>
                <div class="cards">
                <mat-chip color="primary" selected (click)="PRENDER()" >PRENDER</mat-chip>
                </div>
            </mat-chip-list>
        </mat-card>
    
    
<!-- card2  -->
    <mat-card>
        <mat-chip-list>
          <div class="cards">
            <mat-chip  color="primary" selected (click)="APAGAR()" >APAGAR</mat-chip>
          </div>
        </mat-chip-list>
    </mat-card>


<!-- text area 
<mat-form-field class="example-full-width">
  <textarea matInput placeholder="Leave a comment"></textarea>
</mat-form-field>
-->

<br>


  


<!-- Button 
<mat-radio-group>
  <mat-radio-button value="1">Option 1</mat-radio-button>
  <mat-radio-button value="2">Option 2</mat-radio-button>
</mat-radio-group>
-->





